#rise-backimage {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 10%;
    height: auto;
}



.reveal {
    font-family: "Quicksand", sans-serif;
}

.reveal h2 {
    font-size: 2vw;
}

.reveal h3 {
    font-size: 1vw;
}

.reveal p {
    font-size:1.45vw;
}

::marker {
font-size:1.45vw;

}

.rise-enabled .cell li {
    line-height: 130%;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: initial;  
    letter-spacing: initial; 
}


body.rise-enabled .reveal ol, body.rise-enabled .reveal dl, body.rise-enabled .reveal ul {
    margin-left: 0.1em;
    margin-top: 0.2em;
}

.reveal .rendered_html h1:first-child,
.reveal .rendered_html h2:first-child,
.reveal .rendered_html h3:first-child,
.reveal .rendered_html h4:first-child,
.reveal .rendered_html h5:first-child {
    margin-top: 0.2em;
}

h1.plan, h2.plan, h3.plan {
    text-align: center;
    vertical-align: middle;
    padding-bottom: 30px;
}

ul.plan>li>span.plan-bold {
    font-size: 100%;
    padding: 4px;
    font-weight: bold;
    background-color: #eee;
}

ul.plan>li>ul.subplan>li>span.plan-bold {
    font-weight: bold;
}

div.plan-container {
    display: grid;
    grid-template-columns: 50% 50%;
}


div.cell.code_cell.rendered, div.input_area {
    border-width: 0px;
}

div.text_cell_render.rendered_html {
    color: #000000;
    font-size:1.45vw;
}

.reveal pre.xr-text-repr-fallback {
    display: none;
}
